@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,700;0,900;1,900&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

/* div, i, h1 {border: deeppink 1px dashed;} */

/* FLEXBOX */
.row {display: flex;}
.col {display: flex; flex-direction: column;}
.w-10 {flex: 1 1 auto;}
.w-30 {flex: 3 1 auto;}
.x-center {justify-content: center;}
.y-center {align-items: center;}
.flex-end {align-items: flex-end;}

/* HIDDEN */
.hidden {visibility: hidden;}

/* DISPLAY NONE */
.display--none {display: none;}

/* BACKGROUND-COLOR CHANGE */
.bg--light {background-color: #fff;}

/* TEXT COLOR CHANGE */
.primary {color: #1da1f2;}

/* BODY */
body {color: #fff; background: #1da1f2; height: 100vh;}
h1 {font-size: 5rem; font-family: 'Montserrat Alternates', sans-serif; font-style: italic; font-weight: 900; padding-right: 2rem;}

.container {height: 95vh;}
.logo {position:absolute; left: 47vw; top: 43vh; font-size: 5rem; color: #fff; z-index: 999; cursor: pointer;}
.logo.shadow {left:47.5vw; color: #187fc086; z-index: -999; opacity: .5;}
.logo:hover {font-size: 5.2rem;}